In [ ]:
for i in df.select_dtypes('object').columns:
    #if len(df[i].unique())<100:
        print(i , "\n""\n", df[i].value_counts(),"\n","\n","**********************************""\n\n")
    #else :
        #print("\n","***",i,"***","\n")

In [ ]:
for i in df.select_dtypes(['int64','float64']).columns:
    if len(df[i].unique())<100:
        print(i , "\n""\n", df[i].value_counts(dropna = False),"\n","\n","**********************************""\n\n")
    else :
        print("\n","***",i,"***","\n")

In [ ]:
df.drop(df[(df["gender"] == "Other")].index, axis = 0, inplace=True)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from yellowbrick.regressor import PredictionError, ResidualsPlot
from yellowbrick.model_selection import FeatureImportances
from yellowbrick.features import RadViz
plt.rcParams["figure.figsize"] = (9,5)
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.heatmap(df.corr(),annot = True)
#çok yüksek correlasyon var demek o feature ın önemli olduğu anlamına gelmiyor. feature'ları le corr.lar ile çarparak (ve intercept ekleyerek) karar verebiliriz.

df_numeric.corr()[(df_numeric.corr()>= 0.9) & (df_numeric.corr() < 1)].any().any() 

# ilk any nümerik columların corr larında 0.9 - 1 arasında olanlarını True döndürür. diğerlerini False döndürür
# ikinci any ile ilk any'nin result'ı üzerinde True kontrolü yapmış oluyoruz. yani ikinci any ile kullandığımızda True varsa
# tek any'li haline bakıp hangileri True ona bakabiliriz. iki any'li halinde True yoksa demek ki hiç true yoktur

In [ ]:
sns.scatterplot(x='bmi', y='age', data=df)
sns.histplot(df['price'], bins = 50, kde=True)

In [ ]:
sns.boxplot(df.price)
---------------------------------------------------------
plt.figure(figsize=(16,6))
sns.boxplot(x="make_model", y="price", data=df, whis=3)
plt.show()
#outlierlara baxmaq ucun kodlar

In [ ]:
df.bmi.fillna(df['bmi'].mean(), inplace=True)

In [ ]:
X = df.drop('stroke', axis =1) # datasetimizden 'stroke' target imizi atiriq, featurlerimiz qalir onu da X a beraber edirik
y = df['stroke'] # 'stroke' targetimizi y beraber edirik

In [ ]:
df.dtypes

In [ ]:
df = df.select_dtypes(include =['object'])  # yada (include =['int64'])
# data type lari object -- categorical olan feauterleri getir

In [ ]:
df.columns[df.isna().any()].tolist() # icinde NaN value lari olan featurelerin adlarini getirir

In [ ]:

df.select_dtypes(include ="object").head()

# datasetimdeki object feature ları getirmesi için ,dataframe formasinda

In [ ]:
df.select_dtypes('object').columns #sadece featurelarin adlarini verir
df_numeric = df.select_dtypes(include ="number") # yalniz numeric featurelari verir

In [ ]:
for col in df.select_dtypes('object').columns:
    print(f"{col:<20}:", df[col].nunique())  # col:<20 aşağıda print result'ı olarak sütun gernişliğini ayarlıyor
    
# aşağıdaki unique değer sayısı yüksek olan 4 column ile missing value lar ile mücadele kapsamında ciddi anlamda mücadele etmek gerekiyor ama bu dersin konusu bu değil.

In [ ]:
df[df.make_model=="Audi A2"]

# drop edeceğim Audi A2'nin satır numarasını öğrendim
df.drop(index = [2614], inplace = True)

# Audi A2'yi drop ettim

# ya da
df = df[df.gender != 'Other']

In [ ]:
for i in df.make_model.unique():
    print(i, "\t:", skew(df[df["make_model"] ==i]["price"]))

In [ ]:
ri.dropna(subset = ["driver_gender"], inplace = True)
# subset kullanmadan dropna yaptığımda NaN olan değerleri düşürünce içinde NaN değer olan tüm sütunların satırları 
#gitmiş olacak. ama o satırda içinde değerli veri olan sütunlar da olabilir. Bunu subset ile yapacağız ve sadece
#belirttiğimiz sütundaki NaN olan değerlerin satırlarını silecek

In [ ]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

# ri["is_arrested"] serie sini içeriğini bool yapıp kendisine eşitliyorum. yani bool'a değiştirmiş oluyorum.

In [ ]:
#İki pandas serisini str.cat() fonksiyonunu kullanarak birleştireceğim.
#stop_date'i .str.cat()' in içine pas edeceğim ri.stop_time ile birleştireceğim.
#ve bunu combined adlı değişkene atayacağım.

combined = ri.stop_date.str.cat(ri.stop_time, sep = " ")
ri["stop_datetime"] = pd.to_datetime(combined)

# şimdi eski iki sütunu drop edelim.

ri.drop(["stop_date", "stop_time"], axis = "columns", inplace=True)

In [ ]:
ri.set_index("stop_datetime", inplace = True)

# stop_datetime sütunumu index yaptım

In [ ]:
female_and_speeding = ri[(ri.driver_gender == "F") & (ri.violation == "Speeding")]

# hem female olanları hem de violationı sadece speeding olanları getir.
# artık female_and_speeding bu bilgilerden oluşan satırları getirir.

In [ ]:
#!!! normalize mantığı şunla aynıdır:

# male.violation.value_counts(normalize = True)
# male.violation.value_counts() / male.violation.value_counts().sum()

#ya da :

#for i in unique_vol:
    print(i / unique_amount * 100)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=101)  
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

def eval_metrics(actual, pred):
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    rmse = np.sqrt(mean_squared_error(actual, pred))
    R2_score = r2_score(actual, pred)
    print("Model testing performance:")
    print("--------------------------")
    print(f"R2_score \t: {R2_score}")
    print(f"MAE \t\t: {mae}")
    print(f"MSE \t\t: {mse}")
    print(f"RMSE \t\t: {rmse}")
y_train_pred = lm.predict(X_train)
eval_metrics(y_train, y_train_pred)
y_pred = lm.predict(X_test)
eval_metrics(y_test, y_pred)

from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=1)
ridge_model.fit(X_train, y_train)
y_pred = ridge_model.predict(X_test)
eval_metrics(y_test, y_pred)

from sklearn.linear_model import RidgeCV
alpha_space = np.linspace(0.01, 1, 100)
ridge_cv_model = RidgeCV(alphas = alpha_space, cv = 10, scoring = "neg_root_mean_squared_error")
ridge_cv_model.fit(X_train, y_train)
y_pred = ridge_cv_model.predict(X_test)
eval_metrics(y_test, y_pred)
y_train_pred = ridge_cv_model.predict(X_train)
eval_metrics(y_train, y_train_pred) 

from sklearn.linear_model import Lasso, LassoCV
lasso_model = Lasso(alpha = 1)
lasso_model.fit(X_train, y_train)
y_train_pred = lasso_model.predict(X_train)
eval_metrics(y_train, y_train_pred)
y_pred = lasso_model.predict(X_test)
eval_metrics(y_test, y_pred)

lasso_cv_model = LassoCV(alphas = alpha_space, cv = 10, max_iter = 100000) 
lasso_cv_model.fit(X_train, y_train)
y_train_pred = lasso_cv_model.predict(X_train)
eval_metrics(y_train, y_train_pred)
y_pred = lasso_cv_model.predict(X_test)
eval_metrics(y_test, y_pred)
lasso_cv_model.coef_

from sklearn.linear_model import ElasticNet, ElasticNetCV
elastic_cv_model = ElasticNetCV(alphas = alpha_space, cv = 10, max_iter = 100000)
elastic_cv_model.fit(X_train, y_train)
y_train_pred = elastic_cv_model.predict(X_train)
eval_metrics(y_train, y_train_pred)
y_pred = elastic_cv_model.predict(X_test)
eval_metrics(y_test, y_pred)

In [ ]:
df.isnull().mean().iplot(kinde ='bar', subplots =True) # Null value larin mean ini bar plot seklinde visual gosterir, 
                                                       # cok ise yaraya bilir
msno.bar(df); # bu kodlari yuxaridakinin altindan da yaza bilerik istersek, nerelerde variable llarin kayip oldugunu ya da olmadigini gormus oluruq
msno.matrix(df);

In [ ]:
df = df.fillna(df.mean()) # nall valuelari mean le doldurmaq

In [ ]:
# eger data mizda skew ness varsa her zaman safe side da qalamq icin <median> ni kullanmak lazim, null velu lari doldurmaq ucun

In [ ]:
df['col'].value_counts(normalize = True) # normalize true yuzdesine baxir

In [ ]:
# ama evvel iplot un librarisini import etmek lazim

1-- df['col'].iplot(kind = 'hist') # rahat sunum yapa bilmemiz icin gorsel


2-- df['col'].iplot(kind = 'histogram', subplots = True, bins =50) # rahat sunum yapa bilmemiz icin gorsel

3-- df.iplot(subplots =True, subplots_titles =True,legend =False, shape(2,5) ,kind ='histogram')  # rahat sunum yapa bilmemiz icin gorsel

In [ ]:
# missin value larla ilgili kode🎈 cok ise yararli, cedvel seklinde hem yuzdesini, hem de numberini gosterir
def missing (df):
    missing_number = df.isnull().sum().sort_values(ascending =False)
    missing_percent = df.isnull().sum() / df.isnull().count().sort_values(ascending = False)
    missing_values = pd.concat([missing_number,missing_percent], axis =1 , keys = ['Missing_Number' , 'Missing_Percent'])
    return missing_values
missing(df)

In [ ]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100

In [ ]:
df_missing = df.loc[:, 'Street Number Suffix':'Zipcode'].head() # icinde missing valuelari olan columnlara baxmaq ucun

In [ ]:
df_na_imputed = df.fillna(method='bfill', axis=0).fillna(0)

In [ ]:
print(df['date'].head()) #column un headine de baxa bilirik

In [ ]:
# but the most common are %d for day, %m for month, %y for a two-digit year and %Y for a four digit year.

# Some examples:

# 1/17/07 has the format "%m/%d/%y"
# 17-1-2007 has the format "%d-%m-%Y"

df['date_parsed'] = pd.to_datetime(df['date'], format="%m/%d/%y") 
# date column unun dtype i 'Object' idi, ama icindeki deyerler tarix formasinda yazilmisdi,
# 'Object' dtype i datetime dtype a convert etdik, column un adini date_parsed yazdiq
 
# sometimes you'll run into an error when there are multiple date formats in a single column.
df['date_parsed'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
# infer_datetime_format = True ---> bir column da multiple date formatlar var ise error olmasinin qarsisini alir

df = df['date_parsed'].dt.day
# kalendardan yalniz aylari getirir

In [ ]:
df.duplicated().sum() # ne kadar duplicat deyer var
df[df.duplicated()] # duplicat deyerleri dataframe kimi gosterir
df.drop_duplicates(inplace=True) # duplicat leri silmek

In [ ]:
# data frame i biz list , dictionary , nympy arrayle olustura bilerik
df.head() # ilk 5 row u getirir default u 5 dir
df.tail()# son 5 row u getiri
df.sample() # datamizin icinden herhansi bir row u getirir, icine ne reqemi yazarsaq o qeder row getirir
df.columns # datamizin icindeki column adlarini getirir
df.shape() # datamizin nece row ve columndan olustugunu getirir
df['col_name'].values() # columnun icindeki deyerleri getirir
df['new_col'] = df['a_col'] + df['b_col'] # yeni column duzeltdikde iki col u toplaya cixa vura bole bilerik
# fazlalik yapmamasi icin df['a'] ve df['b']  df.drop('col_name', axis =1)
df.drop('col_name', axis =1) # col u silmek ucun
df.drop(sira_nomresi , axis =0) # kalici olmasini isteyirikse inplace = True
# indexle bagli drop etdikden sonra reset_index etmek lazimdir
df.reset_index(drop = True) # qalici olmasi ucun de drop = True yaziriq
df.loc[2] # sira nomresi 2 olan row u getir
df.loc[2:5] # sira nomresi 2 ve 5 olan(5 daxildir) rowlari getir
df.iloc[2:5] # sira nomresi 2 ve 5 olan(5 deyil) rowlari getir
df.iloc[2:5, 3:5] # 2:5 1ci rowlari secirik, 2ci 3:5 columnlari
df.loc[2:5]['a_col'] # ['a_col'] columundaki sira nomresi 2 ve 5 (daxildir) arasinda olan deyerleri getir . Serie formasinda
df.loc[2:5][['a_col']] # kvadrat motereze iki qat olanda DFrame olur
df.loc[index num][['col_name']] 😉
df.loc[: ,[['a_col']]] # a_col un row larinin hamisini al
df.['a_col'] # buda columun butun row larini getirir

In [ ]:
filteringi & | !=  == > < edirik

df[(df['a_col'] > 0) & (df['b_col'] > 2)] # a_col da 0 dan boyuk, b_col da 2 den boyuk olan deyerleri getirir
df[(df['a_col'] > 0) & (df['b_col'] > 2)].shape
df[(df[col1]>2) & (df[col2]==222)]

In [ ]:
df['col'].min() # col un icindeki min deyeri verir (max,std,mean,max,mode,median da qoya bilerik)
df['col'].idxmin() # col un minimum deyerinin index numberini verir

In [ ]:
df.groupby('col_1')['col2'].mean() # col1 i col2 ye gore groupla ve onlarin mean(max,std,mean,max,mode,median da qoya biler)
df.groupby('col_1')['col2'].describe().T['Value'] # 'col_1 in icindeki her hansi bir Value ya baxa bilerik'

In [ ]:
df.col.unique() # sutunun icinde nece eded benzersiz(unikal) deyer
df.col.nunique() # unikal deyerlerin sayini verir

In [ ]:
df.sort_values(by = 'col_1', asending = False) # col_1 in value larini siralayir , False oldugu ucun coxdan aza, True olsaydi azdan coxa

In [ ]:
# eger dataset de NaN value lar varsa butun NaN lari hello ile doldurur
df.fillna('hello')

# column un NaN valuelarini mean, median, mode la doldura bilirik
df['col2'].fillna(df.col2.mean())

In [ ]:
df['col'] = df['col'].map(lambda x: x*10) # 'col' un icindeki deyerleri lambda ile 10 a vurub, map ile 'col'un icine qoyuruq

In [ ]:
df['company'] = df['company'].replace('Goo','Google') # 'company' columnun icinde harada Goo gorse Google la evezle

In [ ]:
df['company'] = df['company'].astype(str) # column un typeni str ya deyisdik

In [ ]:
# apply function

def multiply (x):
    return x * 10

df['col'] = df['col'].apply(multiply)

# yuxarida yaratdigimiz multiply functionunu asagida apply la 'col' un value larina tetbiq etdik

In [ ]:
df.groupby('col1')['col2'].mean()  # 'col1' i 'col2' nin ortalamasina gore qrupla

df.groupby(['col1','col2'])['col3'].mean() # 'col1' ve 'col2' ni 'col3' un ortalamsina gore qruplandir