In [11]:
s = "Hello World"
s

'Hello World'

In [20]:
len(str.strip(s).split(' ', -1)[1])

5

In [21]:
a = "Salam Dunya"
a

'Salam Dunya'

In [27]:
str.strip(a).split(' ')

['Salam', 'Dunya']

In [28]:
str.strip(a).split(' ')[1]

'Dunya'

In [29]:
len(str.strip(a).split(' ')[1])

5

### if elif els


1. Given two int values, return their sum. Unless the two values are the same, then return double their sum.

In [ ]:
def sum_double(a, b):
  if a == b:
    return (a+b)*2
  else:
    return a+b

2. Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21

In [ ]:
def diff21(n):
  if n <= 21:
    return 21 - n
  else:
    return (n - 21) * 2

3. 
We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble

In [ ]:
def parrot_trouble(talking, hour):
  return (talking and (hour < 7 or hour > 20))

4. Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

In [ ]:
# 1 
  def makes10(a, b):
  if a == 10:
    return True
  elif b == 10:
    return True
  elif (a+b)==10:
    return True
  else:
    return False

# 2 
  def makes10(a, b):
  return (a == 10 or b == 10 or a+b == 10)

5. 
Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number

In [ ]:
def near_hundred(n):
  return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

6.
Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative

In [ ]:
def pos_neg(a, b, negative):
  if negative:
    return (a < 0 and b < 0)
  else:
    return ((a < 0 and b > 0) or (a > 0 and b < 0))

7. Tesevvur et ki Uni-ye imtahan vermisen, eger yigdigin score un 50 ve ondan yuksekdirse qebul olmusan asagidirsa yox

In [46]:
score = int(input('Please enter your score : '))
print('----------------------------')

if score > 100 or score < 0:
    print('Score is Invalid')
elif score >= 50:
    print('You have passed your exams')
    print('Congrats!!!')
    
else:
    print('Sorry, you have failed your exam ')

Please enter your score : 44
----------------------------
Sorry, you have failed your exam

In [53]:
8. 

number = float(input('Enter the number please! :'))
print('-------------------------')

if number < 0:
    print('Negative number')
elif number > 0:
    print('Positive number')
else :
    print('Number is zero')

Enter the number please! :0
-------------------------
Number is zero

9. While Loop

In [54]:
# a

count = 0

while count < 5:
    print('while loop')
    
    count = count + 1

while loop
while loop
while loop
while loop
while loop

In [1]:
# b
number = int(input('Enter number please! :'))

count = 1

while count <= 10:
    total = number + count
    print(number , '+', count,'=', total)
    count = count + 1

Enter number please! :7
7 + 1 = 8
7 + 2 = 9
7 + 3 = 10
7 + 4 = 11
7 + 5 = 12
7 + 6 = 13
7 + 7 = 14
7 + 8 = 15
7 + 9 = 16
7 + 10 = 17

In [2]:
# c
num = int(input('Enter number please! :'))

count = 10

while count >= 0:
    total = num * count
    print(num , '*', count, '=', total)
    
    count = count - 1

Enter number please! :6
6 * 10 = 60
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6
6 * 0 = 0

### For loop

In [3]:
text = 'Python' # herflere ayirdi

for letter in text:
    print(letter)

P
y
t
h
o
n

In [5]:
name = ['John', 'Sam', 'Nike','Mike']  # sozlere ayirdi

for word in name:
    print(word)

John
Sam
Nike
Mike

In [6]:
count = 1

while count <= 6:
    print(count)
    count = count + 1

1
2
3
4
5
6

In [12]:
for count in range(1,7):
    print(count)

1
2
3
4
5
6

In [13]:
num = int(input('Enter number! : '))

for count in range(1,11):
    total = count * num
    print(count, 'x' , num, '=' , total)

Enter number! : 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [40]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for i in numbers:
    sum = sum+i

print("The sum is", sum)

The sum is 48

In [41]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [42]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [43]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [49]:
# program to display student's marks from record
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [44]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [50]:
for i,x in enumerate(['A','B','C']):
    print(i,x)

0 A
1 B
2 C

In [52]:
alist = ['alma','heyva','nar','gilas','armud']

for x,meyve in enumerate(alist):
    print(x,meyve)

0 alma
1 heyva
2 nar
3 gilas
4 armud

In [57]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [58]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [59]:
for i in range (-4,5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [60]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    Rating = PlayListRatings[i]
    print(Rating)
    i = i + 1

10
9.5
10
8
7.5
5

In [3]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(Rating >= 6):
    Rating = PlayListRatings[i]
    print(Rating)
    i = i +1

10
9.5
10
8
7.5
5

In [35]:
file1 = 'alma',9,'heyva'
i = 0
for line in file1:
    print("Iteration", str(i), ": ", line)
    i = i + 1

Iteration 0 :  alma
Iteration 1 :  9
Iteration 2 :  heyva

In [11]:
a = [1,4,3,6,7,2] # sorted a ni deyise bilmir,b=sorted(a) b variablesine atadigimizda a dan emele gelmis
                   # teze siralanmis b olur
b = sorted(a)

print(a)

print(b)

[1, 4, 3, 6, 7, 2]
[1, 2, 3, 4, 6, 7]

In [10]:
a.sort() # sort a ni deyisir siralayir
a

[1, 2, 3, 4, 6, 7]

### Def Function

In [12]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [13]:
add(155)

155 if you add one 156

156

In [15]:
add(3)

3 if you add one 4

4

In [20]:
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')

In [25]:
Mult(33,88)

2904

In [24]:
a = Mult(33,88)
a

2904

In [26]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    return(c)

In [29]:
z = square(9)
z

82

In [ ]:
# datanin icindeki butun column lari ayri ayriliqda value_countslarini cixardir
def val_count(data):
    for i in data.column():
        print(data[i].value_counts(dropna = False))
        print(25 * ,'*-','\n') # 25 dene *- istedim bir birinden seliqeli(ayrilmis)etdim her value_counts etdidyim columnlarin arasinda

In [30]:
def square(a):
    
    # Local variable b
    c = 5
    d = 2
    b = 1
    c = a * a + b + c - d
    return(c)

In [31]:
square(6)

40

In [41]:
import numpy as np
X=np.array([[1,0],[0,1]])
Y=np.array([[2,2],[2,2]])
Z=np.dot(X,Y)
Z

array([[2, 2],
       [2, 2]])

In [11]:
word = 'menim gozel qizim, necedir? salam dunya.' # . , ? butun iaretleri silir

aa = [x for x in word if x.isalpha()]
aa

['m',
 'e',
 'n',
 'i',
 'm',
 'g',
 'o',
 'z',
 'e',
 'l',
 'q',
 'i',
 'z',
 'i',
 'm',
 'n',
 'e',
 'c',
 'e',
 'd',
 'i',
 'r',
 's',
 'a',
 'l',
 'a',
 'm',
 'd',
 'u',
 'n',
 'y',
 'a']

In [12]:
word1 = 'menim 3 gozel qizim, necedir? salam dunya 55.' # isaretleri sildi(.,?) herf ve reqemleri aldi

bb = [x for x in word1 if x.isalnum()]
bb

['m',
 'e',
 'n',
 'i',
 'm',
 '3',
 'g',
 'o',
 'z',
 'e',
 'l',
 'q',
 'i',
 'z',
 'i',
 'm',
 'n',
 'e',
 'c',
 'e',
 'd',
 'i',
 'r',
 's',
 'a',
 'l',
 'a',
 'm',
 'd',
 'u',
 'n',
 'y',
 'a',
 '5',
 '5']

In [13]:
import re

emails = '''
CoreyMSchafer@gmail.com
corey.schafer@university.edu
corey-321-schafer@my-work.net
'''

pattern = re.compile(r'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+')

matches = pattern.finditer(emails)

for match in matches:
    print(match)

<re.Match object; span=(1, 24), match='CoreyMSchafer@gmail.com'>
<re.Match object; span=(25, 53), match='corey.schafer@university.edu'>
<re.Match object; span=(54, 83), match='corey-321-schafer@my-work.net'>

In [ ]:

.       - Any Character Except New Line
\d      - Digit (0-9)
\D      - Not a Digit (0-9)
\w      - Word Character (a-z, A-Z, 0-9, _)
\W      - Not a Word Character
\s      - Whitespace (space, tab, newline)
\S      - Not Whitespace (space, tab, newline)

\b      - Word Boundary
\B      - Not a Word Boundary
^       - Beginning of a String
$       - End of a String

[]      - Matches Characters in brackets
[^ ]    - Matches Characters NOT in brackets
|       - Either Or
( )     - Group

Quantifiers:
*       - 0 or More
+       - 1 or More
?       - 0 or One
{3}     - Exact Number
{3,4}   - Range of Numbers (Minimum, Maximum)


#### Sample Regexs ####

[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+
Â© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
C