In [11]:
s = "Hello World"
s

'Hello World'

In [20]:
len(str.strip(s).split(' ', -1)[1])

5

In [21]:
a = "Salam Dunya"
a

'Salam Dunya'

In [27]:
str.strip(a).split(' ')

['Salam', 'Dunya']

In [28]:
str.strip(a).split(' ')[1]

'Dunya'

In [29]:
len(str.strip(a).split(' ')[1])

5

### if elif els


1. Given two int values, return their sum. Unless the two values are the same, then return double their sum.

In [ ]:
def sum_double(a, b):
  if a == b:
    return (a+b)*2
  else:
    return a+b

2. Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21

In [ ]:
def diff21(n):
  if n <= 21:
    return 21 - n
  else:
    return (n - 21) * 2

3. 
We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble

In [ ]:
def parrot_trouble(talking, hour):
  return (talking and (hour < 7 or hour > 20))

4. Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

In [ ]:
# 1 
  def makes10(a, b):
  if a == 10:
    return True
  elif b == 10:
    return True
  elif (a+b)==10:
    return True
  else:
    return False

# 2 
  def makes10(a, b):
  return (a == 10 or b == 10 or a+b == 10)

5. 
Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number

In [ ]:
def near_hundred(n):
  return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

6.
Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative

In [ ]:
def pos_neg(a, b, negative):
  if negative:
    return (a < 0 and b < 0)
  else:
    return ((a < 0 and b > 0) or (a > 0 and b < 0))

7. Tesevvur et ki Uni-ye imtahan vermisen, eger yigdigin score un 50 ve ondan yuksekdirse qebul olmusan asagidirsa yox

In [46]:
score = int(input('Please enter your score : '))
print('----------------------------')

if score > 100 or score < 0:
    print('Score is Invalid')
elif score >= 50:
    print('You have passed your exams')
    print('Congrats!!!')
    
else:
    print('Sorry, you have failed your exam ')

Please enter your score : 44
----------------------------
Sorry, you have failed your exam

In [53]:
8. 

number = float(input('Enter the number please! :'))
print('-------------------------')

if number < 0:
    print('Negative number')
elif number > 0:
    print('Positive number')
else :
    print('Number is zero')

Enter the number please! :0
-------------------------
Number is zero

9. While Loop

In [54]:
# a

count = 0

while count < 5:
    print('while loop')
    
    count = count + 1

while loop
while loop
while loop
while loop
while loop

In [1]:
# b
number = int(input('Enter number please! :'))

count = 1

while count <= 10:
    total = number + count
    print(number , '+', count,'=', total)
    count = count + 1

Enter number please! :7
7 + 1 = 8
7 + 2 = 9
7 + 3 = 10
7 + 4 = 11
7 + 5 = 12
7 + 6 = 13
7 + 7 = 14
7 + 8 = 15
7 + 9 = 16
7 + 10 = 17

In [2]:
# c
num = int(input('Enter number please! :'))

count = 10

while count >= 0:
    total = num * count
    print(num , '*', count, '=', total)
    
    count = count - 1

Enter number please! :6
6 * 10 = 60
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6
6 * 0 = 0

### For loop

In [3]:
text = 'Python' # herflere ayirdi

for letter in text:
    print(letter)

P
y
t
h
o
n

In [5]:
name = ['John', 'Sam', 'Nike','Mike']  # sozlere ayirdi

for word in name:
    print(word)

John
Sam
Nike
Mike

In [6]:
count = 1

while count <= 6:
    print(count)
    count = count + 1

1
2
3
4
5
6

In [12]:
for count in range(1,7):
    print(count)

1
2
3
4
5
6

In [13]:
num = int(input('Enter number! : '))

for count in range(1,11):
    total = count * num
    print(count, 'x' , num, '=' , total)

Enter number! : 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [40]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for i in numbers:
    sum = sum+i

print("The sum is", sum)

The sum is 48

In [41]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [42]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [43]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [49]:
# program to display student's marks from record
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [44]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [50]:
for i,x in enumerate(['A','B','C']):
    print(i,x)

0 A
1 B
2 C

In [51]:
alist = ['alma','heyva','nar','gilas','armud']

for x,meyve in enualist:
    print(x,meyve)

ValueError: too many values to unpack (expected 2)